<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'crontabs'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'crontabs'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>crontabs</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#file_groupowner_cron_daily">file_groupowner_cron_daily</a></li>

<li><a href="#file_groupowner_cron_hourly">file_groupowner_cron_hourly</a></li>

<li><a href="#file_groupowner_cron_monthly">file_groupowner_cron_monthly</a></li>

<li><a href="#file_groupowner_cron_weekly">file_groupowner_cron_weekly</a></li>

<li><a href="#file_groupowner_cron_yearly">file_groupowner_cron_yearly</a></li>

<li><a href="#file_groupowner_crontab">file_groupowner_crontab</a></li>

<li><a href="#file_owner_cron_daily">file_owner_cron_daily</a></li>

<li><a href="#file_owner_cron_hourly">file_owner_cron_hourly</a></li>

<li><a href="#file_owner_cron_monthly">file_owner_cron_monthly</a></li>

<li><a href="#file_owner_cron_weekly">file_owner_cron_weekly</a></li>

<li><a href="#file_owner_cron_yearly">file_owner_cron_yearly</a></li>

<li><a href="#file_owner_crontab">file_owner_crontab</a></li>

<li><a href="#file_permissions_cron_daily">file_permissions_cron_daily</a></li>

<li><a href="#file_permissions_cron_hourly">file_permissions_cron_hourly</a></li>

<li><a href="#file_permissions_cron_monthly">file_permissions_cron_monthly</a></li>

<li><a href="#file_permissions_cron_weekly">file_permissions_cron_weekly</a></li>

<li><a href="#file_permissions_cron_yearly">file_permissions_cron_yearly</a></li>

<li><a href="#file_permissions_crontab">file_permissions_crontab</a></li>

</ul>



<h2>Rule details</h2>


<div id="file_groupowner_cron_daily" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns cron.daily</h3>
<div>file_groupowner_cron_daily</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/cron.daily</code>, run the command:

  <pre>$ sudo chgrp root /etc/cron.daily</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_groupowner_cron_hourly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns cron.hourly</h3>
<div>file_groupowner_cron_hourly</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/cron.hourly</code>, run the command:

  <pre>$ sudo chgrp root /etc/cron.hourly</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_groupowner_cron_monthly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns cron.monthly</h3>
<div>file_groupowner_cron_monthly</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/cron.monthly</code>, run the command:

  <pre>$ sudo chgrp root /etc/cron.monthly</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_groupowner_cron_weekly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns cron.weekly</h3>
<div>file_groupowner_cron_weekly</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/cron.weekly</code>, run the command:

  <pre>$ sudo chgrp root /etc/cron.weekly</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_groupowner_cron_yearly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns cron.yearly</h3>
<div>file_groupowner_cron_yearly</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/cron.yearly</code>, run the command:

  <pre>$ sudo chgrp root /etc/cron.yearly</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_groupowner_crontab" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Group Who Owns Crontab</h3>
<div>file_groupowner_crontab</div>
<h4>Description</h4>
<p>
To properly set the group owner of <code>/etc/crontab</code>, run the command:

  <pre>$ sudo chgrp root /etc/crontab</pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct group to prevent unauthorized changes.</p>
</div>

<div id="file_owner_cron_daily" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on cron.daily</h3>
<div>file_owner_cron_daily</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/cron.daily</code>, run the command:

  <pre>$ sudo chown root /etc/cron.daily </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_owner_cron_hourly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on cron.hourly</h3>
<div>file_owner_cron_hourly</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/cron.hourly</code>, run the command:

  <pre>$ sudo chown root /etc/cron.hourly </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_owner_cron_monthly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on cron.monthly</h3>
<div>file_owner_cron_monthly</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/cron.monthly</code>, run the command:

  <pre>$ sudo chown root /etc/cron.monthly </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_owner_cron_weekly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on cron.weekly</h3>
<div>file_owner_cron_weekly</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/cron.weekly</code>, run the command:

  <pre>$ sudo chown root /etc/cron.weekly </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_owner_cron_yearly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on cron.yearly</h3>
<div>file_owner_cron_yearly</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/cron.yearly</code>, run the command:

  <pre>$ sudo chown root /etc/cron.yearly </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_owner_crontab" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Owner on crontab</h3>
<div>file_owner_crontab</div>
<h4>Description</h4>
<p>
To properly set the owner of <code>/etc/crontab</code>, run the command:

  <pre>$ sudo chown root /etc/crontab </pre>
  </p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should be owned by the
correct user to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_cron_daily" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on cron.daily</h3>
<div>file_permissions_cron_daily</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/cron.daily</code>, run the command:
<pre>$ sudo chmod 0700 /etc/cron.daily</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_cron_hourly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on cron.hourly</h3>
<div>file_permissions_cron_hourly</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/cron.hourly</code>, run the command:
<pre>$ sudo chmod 0700 /etc/cron.hourly</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_cron_monthly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on cron.monthly</h3>
<div>file_permissions_cron_monthly</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/cron.monthly</code>, run the command:
<pre>$ sudo chmod 0700 /etc/cron.monthly</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_cron_weekly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on cron.weekly</h3>
<div>file_permissions_cron_weekly</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/cron.weekly</code>, run the command:
<pre>$ sudo chmod 0700 /etc/cron.weekly</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_cron_yearly" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on cron.yearly</h3>
<div>file_permissions_cron_yearly</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/cron.yearly</code>, run the command:
<pre>$ sudo chmod 0700 /etc/cron.yearly</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>

<div id="file_permissions_crontab" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Verify Permissions on crontab</h3>
<div>file_permissions_crontab</div>
<h4>Description</h4>
<p>
To properly set the permissions of <code>/etc/crontab</code>, run the command:
<pre>$ sudo chmod 0600 /etc/crontab</pre></p>
<h4>Rationale</h4>
<p>Service configuration files enable or disable features of their respective services that if configured incorrectly
can lead to insecure and vulnerable configurations. Therefore, service configuration files should have the
correct access rights to prevent unauthorized changes.</p>
</div>




</body>
</html>