<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'nails'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'nails'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>nails</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#service_nails_enabled">service_nails_enabled</a></li>

</ul>



<h2>Rule details</h2>


<div id="service_nails_enabled" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Enable nails Service</h3>
<div>service_nails_enabled</div>
<h4>Description</h4>
<p>The <tt>nails</tt> service is used to run McAfee VirusScan Enterprise
for Linux and McAfee Host-based Security System (HBSS) services.

The <code>nails</code> service can be enabled with the following command:
<pre>$ sudo systemctl enable nails.service</pre></p>
<h4>Rationale</h4>
<p>Virus scanning software can be used to detect if a system has been compromised by
computer viruses, as well as to limit their spread to other systems.</p>
</div>




</body>
</html>