<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'strongswan'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'strongswan'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>strongswan</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_strongswan_installed">package_strongswan_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_strongswan_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install strongswan Package</h3>
<div>package_strongswan_installed</div>
<h4>Description</h4>
<p>The Strongswan package provides an implementation of IPsec
and IKE, which permits the creation of secure tunnels over
untrusted networks. The <code>strongswan</code> package can be installed with the following command:
<pre>
$ sudo dnf install strongswan</pre></p>
<h4>Rationale</h4>
<p>Providing the ability for remote users or systems
to initiate a secure VPN connection protects information when it is
transmitted over a wide area network.</p>
</div>




</body>
</html>