<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'apparmor-utils'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'apparmor-utils'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>apparmor-utils</li>

</ul>


<h3>Relevant groups:</h3>

<ul>

<li>apparmor-utils</li>

</ul>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_apparmor-utils_installed">package_apparmor-utils_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_apparmor-utils_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Ensure AppArmor Utils is installed</h3>
<div>package_apparmor-utils_installed</div>
<h4>Description</h4>
<p>AppArmor provide Mandatory Access Controls.</p>
<h4>Rationale</h4>
<p>Without a Mandatory Access Control system installed only the default
Discretionary Access Control system will be available.</p>
</div>




</body>
</html>