<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'geolite2'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'geolite2'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>geolite2</li>

<li>geolite2-city</li>

<li>geolite2-country</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_geolite2-city_removed">package_geolite2-city_removed</a></li>

<li><a href="#package_geolite2-country_removed">package_geolite2-country_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_geolite2-city_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall geolite2-city Package</h3>
<div>package_geolite2-city_removed</div>
<h4>Description</h4>
<p>The <code>geolite2-city</code> package can be removed with the following command:
<pre>
$ sudo yum erase geolite2-city</pre></p>
<h4>Rationale</h4>
<p><tt>geolite2-city</tt> is part of the GeoLite2 database packages, offering geolocation databases and tooling.</p>
</div>

<div id="package_geolite2-country_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall geolite2-country Package</h3>
<div>package_geolite2-country_removed</div>
<h4>Description</h4>
<p>The <code>geolite2-country</code> package can be removed with the following command:
<pre>
$ sudo yum erase geolite2-country</pre></p>
<h4>Rationale</h4>
<p><tt>geolite2-country</tt> is part of the GeoLite2 database packages, offering geolocation databases and tooling.</p>
</div>




</body>
</html>