<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'gnutls-utils'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'gnutls-utils'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>gnutls-utils</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_gnutls-utils_installed">package_gnutls-utils_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_gnutls-utils_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Ensure gnutls-utils is installed</h3>
<div>package_gnutls-utils_installed</div>
<h4>Description</h4>
<p>The <code>gnutls-utils</code> package can be installed with the following command:
<pre>
$ sudo yum install gnutls-utils</pre></p>
<h4>Rationale</h4>
<p>GnuTLS is a secure communications library implementing the SSL, TLS and DTLS
protocols and technologies around them. It provides a simple C language
application programming interface (API) to access the secure communications
protocols as well as APIs to parse and write X.509, PKCS #12, OpenPGP and
other required structures.
This package contains command line TLS client and server and certificate
manipulation tools.</p>
</div>




</body>
</html>