<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'vim-enhanced'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'vim-enhanced'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>vim-enhanced</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_vim_installed">package_vim_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_vim_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install vim Package</h3>
<div>package_vim_installed</div>
<h4>Description</h4>
<p>The <code>vim-enhanced</code> package can be installed with the following command:
<pre>
$ sudo yum install vim-enhanced</pre></p>
<h4>Rationale</h4>
<p>Vim (Vi IMproved) is an almost compatible version of the UNIX editor <tt>vi</tt>. </p>
</div>




</body>
</html>