<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'autofs'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'autofs'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>autofs</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#service_autofs_disabled">service_autofs_disabled</a></li>

<li><a href="#package_autofs_removed">package_autofs_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="service_autofs_disabled" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable the Automounter</h3>
<div>service_autofs_disabled</div>
<h4>Description</h4>
<p>The <tt>autofs</tt> daemon mounts and unmounts filesystems, such as user
home directories shared via NFS, on demand. In addition, autofs can be used to handle
removable media, and the default configuration provides the cdrom device as <tt>/misc/cd</tt>.
However, this method of providing access to removable media is not common, so autofs
can almost always be disabled if NFS is not in use. Even if NFS is required, it may be
possible to configure filesystem mounts statically by editing <tt>/etc/fstab</tt>
rather than relying on the automounter.
<br /><br />

The <code>autofs</code> service can be disabled with the following command:
<pre>$ sudo systemctl mask --now autofs.service</pre></p>
<h4>Rationale</h4>
<p>Disabling the automounter permits the administrator to
statically control filesystem mounting through <tt>/etc/fstab</tt>.
<br /><br />
Additionally, automatically mounting filesystems permits easy introduction of
unknown devices, thereby facilitating malicious activity.</p>
</div>

<div id="package_autofs_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Remove autofs Package</h3>
<div>package_autofs_removed</div>
<h4>Description</h4>
<p>autofs allows automatic mounting of devices, typically including CD/DVDs and USB
drives.
 The <code>autofs</code> package can be removed with the following command:
 <pre>
 $ sudo dnf remove autofs</pre></p>
<h4>Rationale</h4>
<p>With automounting enabled anyone with physical access could attach a USB drive or
disc and have its contents available in the filesystem even if they lacked permissions to
mount it themselves.</p>
</div>




</body>
</html>