<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'gnome-software'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'gnome-software'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>gnome-software</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_gnome_software_installed">package_gnome_software_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_gnome_software_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install GNOME Software</h3>
<div>package_gnome_software_installed</div>
<h4>Description</h4>
<p>The <code>gnome-software</code> package can be installed with the following command:
<pre>
$ sudo dnf install gnome-software</pre></p>
<h4>Rationale</h4>
<p>The GNOME software package must be installed so that it can be used for software and firmware updates.</p>
</div>




</body>
</html>