<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'nss-tools'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'nss-tools'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>nss-tools</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_nss-tools_installed">package_nss-tools_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_nss-tools_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Ensure nss-tools is installed</h3>
<div>package_nss-tools_installed</div>
<h4>Description</h4>
<p>The <code>nss-tools</code> package can be installed with the following command:
<pre>
$ sudo dnf install nss-tools</pre></p>
<h4>Rationale</h4>
<p>Network Security Services (NSS) is a set of libraries designed to
support cross-platform development of security-enabled client and
server applications. Install the <tt>nss-tools</tt> package
to install command-line tools to manipulate the NSS certificate
and key database.</p>
</div>




</body>
</html>