<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'libreport'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'libreport'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>libreport</li>

<li>libreport-plugin-logger</li>

<li>libreport-plugin-rhtsupport</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_libreport-plugin-logger_removed">package_libreport-plugin-logger_removed</a></li>

<li><a href="#package_libreport-plugin-rhtsupport_removed">package_libreport-plugin-rhtsupport_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_libreport-plugin-logger_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall libreport-plugin-logger Package</h3>
<div>package_libreport-plugin-logger_removed</div>
<h4>Description</h4>
<p>The <code>libreport-plugin-logger</code> package can be removed with the following command:
<pre>
$ apt-get remove libreport-plugin-logger</pre></p>
<h4>Rationale</h4>
<p><tt>libreport-plugin-logger</tt> is a ABRT plugin to report bugs into the
Red Hat Support system.</p>
</div>

<div id="package_libreport-plugin-rhtsupport_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall libreport-plugin-rhtsupport Package</h3>
<div>package_libreport-plugin-rhtsupport_removed</div>
<h4>Description</h4>
<p>The <code>libreport-plugin-rhtsupport</code> package can be removed with the following command:
<pre>
$ apt-get remove libreport-plugin-rhtsupport</pre></p>
<h4>Rationale</h4>
<p><tt>libreport-plugin-rhtsupport</tt> is a ABRT plugin to report bugs into the
Red Hat Support system.</p>
</div>




</body>
</html>