<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'oddjob'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'oddjob'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>oddjob</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#service_oddjobd_disabled">service_oddjobd_disabled</a></li>

</ul>



<h2>Rule details</h2>


<div id="service_oddjobd_disabled" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable Odd Job Daemon (oddjobd)</h3>
<div>service_oddjobd_disabled</div>
<h4>Description</h4>
<p>The <tt>oddjobd</tt> service exists to provide an interface and
access control mechanism through which
specified privileged tasks can run tasks for unprivileged client
applications. Communication with <tt>oddjobd</tt> through the system message bus.

The <code>oddjobd</code> service can be disabled with the following command:
<pre>$ sudo systemctl mask --now oddjobd.service</pre></p>
<h4>Rationale</h4>
<p>The <tt>oddjobd</tt> service may provide necessary functionality in
some environments, and can be disabled if it is not needed. Execution of
tasks by privileged programs, on behalf of unprivileged ones, has traditionally
been a source of privilege escalation security issues.</p>
</div>




</body>
</html>