<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'uuidd'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'uuidd'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>uuidd</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_uuidd_installed">package_uuidd_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_uuidd_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Package uuidd Installed</h3>
<div>package_uuidd_installed</div>
<h4>Description</h4>
<p>The package <tt>uuidd</tt> is not installed on normal Linux distribution
by default. Applications require this package to avoid database
inconsistences caused by duplicated UUIDs. Especially in banking services
with SAP where massive UUIDs are created in a short time period, it is
important to install the package <tt>uuidd</tt>. More information can be
found in SAP note 1391070.
The <code>uuidd</code> package can be installed with the following command:
<pre>
$ apt-get install uuidd</pre></p>
<h4>Rationale</h4>
<p>The <tt>uuidd</tt> package contains a userspace daemon (uuidd) which is
used to generate unique identifiers even at very high rates on
SMP systems.</p>
</div>




</body>
</html>