<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'ntpdate'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'ntpdate'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>ntpdate</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_ntpdate_removed">package_ntpdate_removed</a></li>

<li><a href="#service_ntpdate_disabled">service_ntpdate_disabled</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_ntpdate_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall the ntpdate package</h3>
<div>package_ntpdate_removed</div>
<h4>Description</h4>
<p>ntpdate is a historical ntp synchronization client for unixes. It should be uninstalled.</p>
<h4>Rationale</h4>
<p>ntpdate is an old not security-compliant ntp client. It should be replaced by modern ntp clients such as ntpd, able to use cryptographic mechanisms integrated in NTP.</p>
</div>

<div id="service_ntpdate_disabled" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable ntpdate Service (ntpdate)</h3>
<div>service_ntpdate_disabled</div>
<h4>Description</h4>
<p>The <tt>ntpdate</tt> service sets the local hardware clock by polling NTP servers
when the system boots. It synchronizes to the NTP servers listed in
<tt>/etc/ntp/step-tickers</tt> or <tt>/etc/ntp.conf</tt>
and then sets the local hardware clock to the newly synchronized
system time.

The <code>ntpdate</code> service can be disabled with the following command:
<pre>$ sudo systemctl mask --now ntpdate.service</pre></p>
<h4>Rationale</h4>
<p>The <tt>ntpdate</tt> service may only be suitable for systems which
are rebooted frequently enough that clock drift does not cause problems between
reboots. In any event, the functionality of the ntpdate service is now
available in the ntpd program and should be considered deprecated.</p>
</div>




</body>
</html>