<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'openscap'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'openscap'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>openscap</li>

<li>openscap-scanner</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_openscap-scanner_installed">package_openscap-scanner_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_openscap-scanner_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install openscap-scanner Package</h3>
<div>package_openscap-scanner_installed</div>
<h4>Description</h4>
<p>The <code>openscap-scanner</code> package can be installed with the following command:
<pre>
$ apt-get install openscap-scanner</pre></p>
<h4>Rationale</h4>
<p><tt>openscap-scanner</tt> contains the <tt>oscap</tt> command line tool. This tool is a
configuration and vulnerability scanner, capable of performing compliance checking using
SCAP content.</p>
</div>




</body>
</html>