<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'tar'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'tar'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>tar</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_tar_installed">package_tar_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_tar_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install tar Package</h3>
<div>package_tar_installed</div>
<h4>Description</h4>
<p>The <code>tar</code> package can be installed with the following command:
<pre>
$ apt-get install tar</pre></p>
<h4>Rationale</h4>
<p>The GNU <tt>tar</tt> program saves many files together into one archive and
can restore individual files (or all of the files) from the archive. <tt>tar</tt>
includes multivolume support, automatic archive compression/decompression, the
the ability to perform incremental and full backups. If </p>
</div>




</body>
</html>