<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'krb5'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'krb5'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>krb5</li>

<li>krb5-server</li>

<li>krb5-workstation</li>

</ul>


<h3>Relevant groups:</h3>

<ul>

<li>kerberos</li>

</ul>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#kerberos_disable_no_keytab">kerberos_disable_no_keytab</a></li>

<li><a href="#package_krb5-server_removed">package_krb5-server_removed</a></li>

<li><a href="#package_krb5-workstation_removed">package_krb5-workstation_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="kerberos_disable_no_keytab" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable Kerberos by removing host keytab</h3>
<div>kerberos_disable_no_keytab</div>
<h4>Description</h4>
<p>Kerberos may rely on key distribution functions unapproved by Common Criteria.
To prevent using Kerberos by system daemons, remove the Kerberos keytab files, especially
<tt>/etc/krb5.keytab</tt>.</p>
<h4>Rationale</h4>
<p>Some key derivation functions (KDF) in Kerberos are not FIPS-compatible</p>
</div>

<div id="package_krb5-server_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Remove the Kerberos Server Package</h3>
<div>package_krb5-server_removed</div>
<h4>Description</h4>
<p>The <tt>krb5-server</tt> package should be removed if not in use.
Is this system the Kerberos server? If not, remove the package.
The <code>krb5-server</code> package can be removed with the following command:
<pre>
$ sudo dnf remove krb5-server</pre>
The krb5-server RPM is not installed by default on a Red Hat Enterprise Linux 9
system. It is needed only by the Kerberos servers, not by the
clients which use Kerberos for authentication. If the system is not
intended for use as a Kerberos Server it should be removed.</p>
<h4>Rationale</h4>
<p>Unnecessary packages should not be installed to decrease the attack
surface of the system.  While this software is clearly essential on an KDC
server, it is not necessary on typical desktop or workstation systems.</p>
</div>

<div id="package_krb5-workstation_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall krb5-workstation Package</h3>
<div>package_krb5-workstation_removed</div>
<h4>Description</h4>
<p>The <code>krb5-workstation</code> package can be removed with the following command:
<pre>
$ sudo dnf remove krb5-workstation</pre></p>
<h4>Rationale</h4>
<p>Kerberos is a network authentication system. The <tt>krb5-workstation</tt> package contains the basic
Kerberos programs (<tt>kinit</tt>, <tt>klist</tt>, <tt>kdestroy</tt>, <tt>kpasswd</tt>).</p>
</div>




</body>
</html>