<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'mailx'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'mailx'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>mailx</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_mailx_installed">package_mailx_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_mailx_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>The mailx Package Is Installed</h3>
<div>package_mailx_installed</div>
<h4>Description</h4>
<p>A mail server is required for sending emails.
The <code>mailx</code> package can be installed with the following command:
<pre>
$ sudo dnf install mailx</pre></p>
<h4>Rationale</h4>
<p>Emails can be used to notify designated personnel about important
system events such as failures or warnings.</p>
</div>




</body>
</html>