<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'openssl-pkcs11'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'openssl-pkcs11'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>openssl-pkcs11</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#install_smartcard_packages">install_smartcard_packages</a></li>

</ul>



<h2>Rule details</h2>


<div id="install_smartcard_packages" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install Smart Card Packages For Multifactor Authentication</h3>
<div>install_smartcard_packages</div>
<h4>Description</h4>
<p>Configure the operating system to implement multifactor authentication by
installing the required package with the following command:

The <code>openssl-pkcs11</code> package can be installed with the following command:
<pre>
$ sudo dnf install openssl-pkcs11</pre></p>
<h4>Rationale</h4>
<p>Using an authentication device, such as a CAC or token that is separate from
the information system, ensures that even if the information system is
compromised, that compromise will not affect credentials stored on the
authentication device.
<br /><br />
Multifactor solutions that require devices separate from
information systems gaining access include, for example, hardware tokens
providing time-based or challenge-response authenticators and smart cards
or similar secure authentication devices issued by an organization or identity provider.</p>
</div>




</body>
</html>