<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'sequoia'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'sequoia'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>sequoia-sq</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_sequoia-sq_installed">package_sequoia-sq_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_sequoia-sq_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install sequoia-sq Package</h3>
<div>package_sequoia-sq_installed</div>
<h4>Description</h4>
<p>The <code>sequoia-sq</code> package can be installed with the following command:
<pre>
$ sudo dnf install sequoia-sq</pre></p>
<h4>Rationale</h4>
<p>The <tt>sequoia-sq</tt> package provides the <tt>sq</tt> command-line tool,
which is used for OpenPGP operations including verification of GPG signatures.
This tool is required for cryptographic verification of software packages and
GPG keys using modern OpenPGP implementations.</p>
</div>




</body>
</html>