<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'tcp_wrappers'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'tcp_wrappers'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>tcp_wrappers</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_tcp_wrappers_installed">package_tcp_wrappers_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_tcp_wrappers_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install tcp_wrappers Package</h3>
<div>package_tcp_wrappers_installed</div>
<h4>Description</h4>
<p>When network services are using the <tt>xinetd</tt> service, the
<tt>tcp_wrappers</tt> package should be installed.
The <code>tcp_wrappers</code> package can be installed with the following command:
<pre>
$ sudo dnf install tcp_wrappers</pre></p>
<h4>Rationale</h4>
<p>Access control methods provide the ability to enhance system security posture
by restricting services and known good IP addresses and address ranges. This
prevents connections from unknown hosts and protocols.</p>
</div>




</body>
</html>