<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'xorg'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'xorg'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>xorg</li>

<li>xorg-x11-server-common</li>

<li>xorg-x11-server-Xwayland</li>

</ul>


<h3>Relevant groups:</h3>

<ul>

<li>xwindows</li>

</ul>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_xorg-x11-server-common_removed">package_xorg-x11-server-common_removed</a></li>

<li><a href="#package_xorg-x11-server-Xwayland_removed">package_xorg-x11-server-Xwayland_removed</a></li>

<li><a href="#xwindows_remove_packages">xwindows_remove_packages</a></li>

<li><a href="#xwindows_runlevel_target">xwindows_runlevel_target</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_xorg-x11-server-common_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Remove the X Windows Package Group</h3>
<div>package_xorg-x11-server-common_removed</div>
<h4>Description</h4>
<p>By removing the xorg-x11-server-common package, the system no longer has X Windows
installed. If X Windows is not installed then the system cannot boot into graphical user mode.
This prevents the system from being accidentally or maliciously booted into a <tt>graphical.target</tt>
mode. To do so, run the following command:
<pre>$ sudo dnf groupremove "X Window System"</pre>
<pre>$ sudo dnf remove xorg-x11-server-common</pre></p>
<h4>Rationale</h4>
<p>Unnecessary service packages must not be installed to decrease the attack surface of the system. X windows has a long history of security
vulnerabilities and should not be installed unless approved and documented.</p>
</div>

<div id="package_xorg-x11-server-Xwayland_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Remove the X Windows Xwayland Package</h3>
<div>package_xorg-x11-server-Xwayland_removed</div>
<h4>Description</h4>
<p>The <code>xorg-x11-server-Xwayland</code> package can be removed with the following command:
<pre>
$ sudo dnf remove xorg-x11-server-Xwayland</pre></p>
<h4>Rationale</h4>
<p>Unnecessary service packages must not be installed to decrease the attack
surface of the system. X Windows has a long history of security
vulnerabilities and should not be installed unless approved and documented.
Unless your organization specifically requires graphical login access via
X Windows, remove it to reduce the potential attack surface.</p>
</div>

<div id="xwindows_remove_packages" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable graphical user interface</h3>
<div>xwindows_remove_packages</div>
<h4>Description</h4>
<p>By removing the following packages, the system no longer has X Windows installed.
 <tt>xorg-x11-server-Xorg</tt>
 <tt>xorg-x11-server-common</tt>
 <tt>xorg-x11-server-utils</tt>
 <tt>xorg-x11-server-Xwayland</tt>

If X Windows is not installed then the system cannot boot into graphical user mode.
This prevents the system from being accidentally or maliciously booted into a <tt>graphical.target</tt>
mode. To do so, run the following command:
<pre>sudo dnf remove xorg-x11-server-Xorg xorg-x11-server-common xorg-x11-server-utils xorg-x11-server-Xwayland</pre></p>
<h4>Rationale</h4>
<p>Unnecessary service packages must not be installed to decrease the attack surface of the system.
X windows has a long history of security vulnerabilities and should not be installed unless approved and documented.</p>
</div>

<div id="xwindows_runlevel_target" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Disable Graphical Environment Startup By Setting Default Target</h3>
<div>xwindows_runlevel_target</div>
<h4>Description</h4>
<p>Systems that do not require a graphical user interface should only boot by
default into <tt>multi-user.target</tt> mode. This prevents accidental booting of the system
into a <tt>graphical.target</tt> mode. Setting the system's default target to
<tt>multi-user.target</tt> will prevent automatic startup of the graphical environment.
To do so, run:
<pre>$ systemctl set-default multi-user.target</pre>
You should see the following output:
<pre>Removed symlink /etc/systemd/system/default.target.
Created symlink from /etc/systemd/system/default.target to /usr/lib/systemd/system/multi-user.target.</pre></p>
<h4>Rationale</h4>
<p>Services that are not required for system and application processes
must not be active to decrease the attack surface of the system.</p>
</div>




</body>
</html>