<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'nis'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'nis'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>nis</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_nis_removed">package_nis_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_nis_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall the nis package</h3>
<div>package_nis_removed</div>
<h4>Description</h4>
<p>The support for Yellowpages should not be installed unless it is required.</p>
<h4>Rationale</h4>
<p>NIS is the historical SUN service for central account management, more and more replaced by LDAP.
NIS does not support efficiently security constraints, ACL, etc. and should not be used.</p>
</div>




</body>
</html>