<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'authselect'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'authselect'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>authselect</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_authselect_installed">package_authselect_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_authselect_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install authselect Package</h3>
<div>package_authselect_installed</div>
<h4>Description</h4>
<p>The <code>authselect</code> package can be installed with the following command:
<pre>
$ sudo dnf install authselect</pre></p>
<h4>Rationale</h4>
<p>The <tt>authselect</tt> package provides a tool to select system authentication and
identity sources from a list of supported profiles instead of letting the administrator
manually build the PAM stack. Authselect is a successor to authconfig and helps avoid
potential breakage of configuration by shipping several tested profiles that are well
tested and supported. Ensuring the latest version of authselect is installed helps
maintain system security by providing the latest security fixes and features.</p>
</div>




</body>
</html>