<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'kea'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'kea'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>kea</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_kea_removed">package_kea_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_kea_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall kea Package</h3>
<div>package_kea_removed</div>
<h4>Description</h4>
<p>If the system does not need to act as a DHCP server,
the kea package can be uninstalled.</p>
<h4>Rationale</h4>
<p>Removing the DHCP server ensures that it cannot be easily or
accidentally reactivated and disrupt network operation.</p>
</div>




</body>
</html>