<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'rear'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'rear'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>rear</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_rear_installed">package_rear_installed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_rear_installed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Install rear Package</h3>
<div>package_rear_installed</div>
<h4>Description</h4>
<p>The <code>rear</code> package can be installed with the following command:
<pre>
$ sudo dnf install rear</pre></p>
<h4>Rationale</h4>
<p><tt>rear</tt> contains the Relax-and-Recover (ReaR) utility. ReaR produces a bootable
image of a system and restores from backup using this image.</p>
</div>




</body>
</html>