<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8"/>
  <title>Rules Related To 'unbound'</title>
  
<style>
</style>
</head>
<body>



<h1>Rules Related To 'unbound'</h1>





<h2>Component overview</h2>

<h3>Relevant packages:</h3>

<ul>

<li>unbound</li>

</ul>


<h3>Relevant groups:</h3>

<div>None</div>


<h3>Changelog:</h3>

<div>No changes recorded.</div>


<h3>Relevant rules:</h3>

<ul>

<li><a href="#package_unbound_removed">package_unbound_removed</a></li>

</ul>



<h2>Rule details</h2>


<div id="package_unbound_removed" class="rule" style="border-bottom: 2px solid; margin-bottom: 1cm; padding-bottom: 1cm;">
<h3>Uninstall unbound Package</h3>
<div>package_unbound_removed</div>
<h4>Description</h4>
<p>The <tt>named</tt> service is provided by the <tt>unbound</tt> package.
The <code>unbound</code> package can be removed with the following command:
<pre>
$ sudo dnf remove unbound</pre></p>
<h4>Rationale</h4>
<p>If there is no need to make DNS server software available,
removing it provides a safeguard against its activation.</p>
</div>




</body>
</html>